body { 
    background: #0b0e14; 
    color: #00ffcc; 
    font-family: 'Segoe UI', sans-serif; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
}

.box { 
    background: #1a1f29; 
    padding: 30px; 
    border-radius: 15px; 
    text-align: center; 
    width: 320px; 
    border: 1px solid #00ffcc; 
    box-shadow: 0 0 20px rgba(0, 255, 204, 0.1);
}

input, select { 
    width: 90%; 
    padding: 12px; 
    margin: 10px 0; 
    border: 1px solid #00ffcc; 
    background: #0b0e14; 
    color: white; 
    border-radius: 5px; 
    font-size: 14px;
}

select { width: 98%; cursor: pointer; }

button { 
    width: 96%; 
    padding: 12px; 
    background: #00ffcc; 
    color: #0b0e14; 
    border: none; 
    font-weight: bold; 
    cursor: pointer; 
    border-radius: 5px; 
    margin-top: 10px; 
    transition: 0.3s;
}

button:hover { background: #00cca3; }

.contact-btn { background: #0088cc; color: white; margin-top: 15px; }

.logout-btn { 
    background: transparent; 
    color: #555; 
    font-size: 11px; 
    margin-top: 15px; 
    border: none; 
    cursor: pointer; 
}

.progress-container { 
    width: 100%; 
    background: #0b0e14; 
    border-radius: 10px; 
    margin: 15px 0; 
    display: none; 
    border: 1px solid #333; 
    height: 10px; 
    overflow: hidden; 
}

.progress-bar { 
    width: 0%; 
    height: 100%; 
    background: #00ffcc; 
    transition: width 0.4s ease; 
}

.counter-text { 
    display: flex; 
    justify-content: space-around; 
    margin-top: 10px; 
    font-weight: bold; 
    font-size: 14px;
}